templates/tutourial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--
   	This is the XSD/WSDL Visualizer tutorial.
    If the design view isn’t visible, check the three icons in the top right corner of this window.
    In some versions, they only appear when you move your mouse there.
    Click the rightmost icon to switch to full design view.
    If you need help navigating, click the ‘Manual’ button at the top of the design view.
    If this tutorial doesn’t meet your needs, please use the feedback button to let us know what you're missing.
    -->

    <!-- Das Root-Element, das von ClickMe erbt -->
    <xs:element name="RootTag" type="ClickTriangleOnTheRightToOpen"/>

    <xs:complexType name="ClickTriangleOnTheRightToOpen">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:sequence>
                    <xs:element name="click_on_icon_to_my_right" type="ReferencedType"/>
                </xs:sequence>
                <!-- Eindeutig benannte Attribute -->
                <xs:attribute name="i_am_a_string_attribute" type="xs:string"/>
                <xs:attribute name="i_am_an_integer_attribute" type="xs:int"/>
                <xs:attribute name="i_am_required" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReferencedType">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:sequence>
                    <!-- Demonstration einer Sequence -->
                    <xs:element name="i_need_all_elements_in_this_order">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="FirstElement" type="xs:string"/>
                                <xs:element name="SecondElement" type="xs:int"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <!-- Demonstration einer Choice -->
                    <xs:element name="i_need_exactly_one_of_these_elements">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="OptionA" type="xs:string"/>
                                <xs:element name="OptionB" type="xs:int"/>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <!-- Demonstration eines All-Gruppenmodells -->
                    <xs:element name="i_need_all_of_these_elements_in_any_order">
                        <xs:complexType>
                            <xs:all>
                                <xs:element name="ElementA" type="xs:string"/>
                                <xs:element name="ElementB" type="xs:int"/>
                            </xs:all>
                        </xs:complexType>
                    </xs:element>
                    <!-- Demonstration einer Liste -->
                    <xs:element name="i_am_optional" type="xs:string" minOccurs="0"/>
                    <xs:element name="i_appear_at_least_once" type="xs:string" maxOccurs="unbounded"/>
                    <xs:element name="i_appear_at_least_once_ot_not_at_all" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <!-- Demonstration von Vererbung und einer Referenz -->
                    <xs:element name="follow_this_reference_for_simple_type_demo" type="SimpleTypeDemo"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Erweiterungstyp zur Demonstration von Vererbung -->
    <xs:complexType name="SimpleTypeDemo">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:sequence>
                    <xs:element name="next_lesson" type="Bike"/>
                </xs:sequence>
                <xs:attribute name="i_am_a_list_of_strings">
                    <xs:simpleType>
                        <xs:list itemType="xs:string"/>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="i_am_a_string_or_an_int">
                    <xs:simpleType>
                        <xs:union memberTypes="xs:string xs:int"/>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="i_am_an_enum">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="ONE"/>
                            <xs:enumeration value="TWO"/>
                            <xs:enumeration value="THREE"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="i_have_two_letters_and_three_digits">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]{2}\d{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UseIconLeftToJumpToCode">

    </xs:complexType>

    <xs:complexType name="Vehicle" abstract="true">
        <xs:sequence>
            <xs:element name="i_am_an_element_of_abstract_Vehicle" type="xs:string"/>
            <xs:element name="vendor" type="xs:string"/>
            <xs:element name="model" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Bike">
        <xs:complexContent>
            <xs:extension base="Vehicle">
                <xs:sequence>
                    <xs:element name="gears" type="xs:int"/>
                    <xs:element name="wheel_size" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Car">
        <xs:complexContent>
            <xs:extension base="Vehicle">
                <xs:sequence>
                    <xs:element name="weight" type="xs:int"/>
                    <xs:element name="top_speed" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>